 .gallery
   width 100%
   padding 0 185px
   display flex
   flex-direction column
   align-items center

   &__row
     width 100%
     display flex
     justify-content space-between
     height 440px
     margin-bottom 20px

     .gallery__block
       height 100%
       overflow hidden
       position relative
       cursor pointer

       .gallery__img
         object-fit cover
         -o-object-fit cover
         height 100%
         width 100%
         transform scale(1.5)

         &:hover
           filter: brightness(50%);
           -webkit-filter brightness(50%)
           -ms-filter brightness(50%)
           -moz-filter brightness(50%)
           -o-filter brightness(50%)

       .block__text
         position absolute
         color $white-color
         top 50%
         left 50%
         transform translate(-50%, -50%)
         font-size 2rem
         text-shadow $text-shadow-gallery

     .--first-block, .--second-block
       width 49%

     .--third-block, .--seven-block
       width 64%

     .--four-block, .--six-block
       width 34%

     .--second-block, .--four-block
       .gallery__img
         object-position 100%

     .--six-block
       .gallery__img
         object-position 10% 20%

     .--seven-block
       .gallery__img
         object-position 10% 20%

 @media (min-width: 1024px) and (max-width: 1365px)
   .gallery
     padding 0 100px


 @media (min-width: 768px) and (max-width: 1023px)
   .gallery
     padding 0 15px

     &__row
       height 225px

 @media (min-width: 320px) and (max-width: 425px)
   .gallery
     padding 0 15px

     &__row
       flex-direction column
       height auto
       margin-bottom 0

       .gallery__block
         width 100%
         margin-bottom 20px


       .--first-block, .--second-block
         height 220px

       .--third-block
         height 170px

       .--four-block, .--six-block
         height 300px

       .--seven-block
         height 180px

@media (min-width: 320px) and (max-width: 375px)
  .gallery
    &__row
      .gallery__block
        .block__text
          width 100%
          text-align center