.mobile-header
   display none

header
  background-color $black-color
  height 50px

  .header__content
    width 100%
    padding 0 185px
    justify-content space-between
    align-items center
    height 100%
    position relative

    .burger-menu
      flex-direction column
      cursor pointer

      .bar1, .bar2, .bar3
        width 30px
        height 5px
        background-color $white-color
        margin-bottom 5px
        transition 0.4s

    .logo
      color #fff
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)
      font-size 1.8rem

    .header__text
      color $white-color
      font-size 1.6rem
      margin-right 20px

      &:hover
        text-decoration underline

    .cart
      position relative
      .count-order
        width 23px
        height 23px
        text-align center
        line-height 23px
        border-radius 50%
        background-color $white-color
        color $black-color
        position absolute
        right 20px
        border 1px solid $black-color

@media (min-width: 1024px) and (max-width: 1365px)
  header
    .header__content
      padding 0 100px


@media (min-width: 320px) and (max-width: 1023px)
  header
    .header__content
      padding 0 15px

      .burger-menu
        .bar1, .bar2, .bar3
          height 3px

    .header__text
      font-size 1.3rem

@media (min-width: 320px) and (max-width: 425px)
 .desktop-header
      display none

 .mobile-header
      display flex


@media (min-width: 320px) and (max-width: 375px)
  header
    .header__content
      .logo
        font-size 1.3rem