@import "variables.styl"
@import "normalize.styl"
@import "top-banner.styl"
@import "carusel.styl"
@import "header.styl"
@import "marker"
@import "gallery.styl"
@import "instagram-gallery.styl"
@import "bottom-btns.styl"
@import "basket.styl"
@import "footer.styl"

.bold
  font-weight bold

.container
  max-width $max-desktop
  margin 0 auto

.cbalink
  display none
