@import url("https://fonts.googleapis.com/css?family=Rajdhani&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
a,
button {
  cursor: pointer;
  text-decoration: none;
}
html {
  font-size: 16px;
}
body {
  line-height: 1;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 0.01rem;
  min-height: 100vh;
}
input {
  font-family: 'Rajdhani', sans-serif;
}
input[type="search"] {
  -webkit-appearance: none;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
option {
  outline: unset;
}
* {
  box-sizing: border-box;
  outline: unset;
}
div {
  display: flex;
}
.banner {
  width: 100%;
  position: relative;
}
.banner .slide {
  display: none;
  width: 100%;
  background-color: #c5c5c5;
  color: #fff;
  font-weight: bold;
  font-size: 0.7rem;
  height: 15px;
  letter-spacing: 0.1rem;
  align-items: center;
  justify-content: center;
}
.banner .dots {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 185px;
}
.banner .dots .dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgba(255,255,255,0);
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.banner .dots .active,
.banner .dots .dot:hover {
  background-color: #000;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .banner .dots {
    right: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .banner .dots {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .banner .slide {
    padding: 0 15px;
    height: 20px;
    font-size: 1rem;
  }
  .banner .dots {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .banner .slide {
    font-size: 0.6rem;
  }
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider .slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider .slide {
  display: none;
  width: 100%;
}
.slider .slide__description {
  position: absolute;
  left: 185px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider .slide__description .description__title {
  font-size: 2rem;
  border-bottom: 1.5px solid #000;
  width: 260px;
  padding-bottom: 5px;
}
.slider .slide__description .description__sub-title {
  font-size: 1.25rem;
  padding-top: 5px;
}
.slider .slide__description .btn__confira {
  text-transform: uppercase;
  background-color: rgba(255,255,255,0);
  color: #000;
  border: 1.5px solid #000;
  font-size: 1.2rem;
  width: 115px;
  height: 35px;
  margin-top: 40px;
}
.slider .slide__description .btn__confira:hover,
.slider .slide__description .btn__confira:focus {
  background-color: #000;
  color: #fff;
}
.slider .slide-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.slider .dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.slider .dots .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
.slider .dots .active,
.slider .dots .dot:hover {
  background-color: #000;
}
.main-slider {
  width: 100%;
  padding: 0 220px;
  padding-bottom: 25px;
  position: relative;
}
.main-slider .wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 360px;
}
.main-slider .wrapper .carousel {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.main-slider .wrapper .carousel .card {
  width: 185px;
  height: 100%;
  margin-right: 1rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  cursor: pointer;
  align-items: center;
}
.main-slider .wrapper .carousel .card__price {
  padding: 5px;
  font-weight: bold;
}
.main-slider .wrapper .carousel .card .new__price,
.main-slider .wrapper .carousel .card .sale {
  display: none;
}
.main-slider .wrapper .carousel .card__img {
  width: 100%;
  height: 90%;
}
.main-slider .wrapper .carousel .card .card__name {
  display: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  opacity: 0.8;
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 35px;
  left: 0;
}
.main-slider .wrapper .carousel .card:hover .card__name {
  display: flex;
}
.main-slider .slider-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(255,255,255,0);
  color: #c5c5c5;
  font-size: 2rem;
}
.main-slider .slider-btn:hover {
  color: #000;
}
.main-slider .btn-left {
  left: 185px;
}
.main-slider .btn-right {
  right: 200px;
}
@media (min-width: 1366px) and (max-width: 1599px) {
  .main-slider .wrapper {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1365px) {
  .slider .slide__description {
    left: 100px;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .main-slider {
    padding: 0 150px 20px 150px;
  }
  .main-slider .wrapper {
    height: 255px;
  }
  .main-slider .btn-right {
    right: 120px;
  }
  .main-slider .btn-left {
    left: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .slider .slide {
    height: 370px;
  }
  .slider .slide__description .description__title {
    font-size: 1.3rem;
    width: 185px;
  }
  .slider .slide__description .description__sub-title {
    font-size: 1rem;
  }
  .slider .slide__description .btn__confira {
    font-size: 1rem;
    width: 100px;
    height: 30px;
    margin-top: 30px;
  }
  .slider .dots .dot {
    width: 12px;
    height: 12px;
    margin: 0 3px;
  }
  .main-slider {
    padding: 0;
  }
  .main-slider .wrapper {
    height: 335px;
    overflow: visible;
  }
  .main-slider .wrapper .carousel {
    width: auto;
  }
  .main-slider .wrapper .carousel .card {
    width: 155px;
    position: relative;
  }
  .main-slider .wrapper .carousel .card .sale {
    display: flex;
    position: absolute;
    left: -6px;
    top: -21px;
  }
  .main-slider .wrapper .carousel .card .new__price {
    display: flex;
    font-size: 1.2rem;
  }
  .main-slider .wrapper .carousel .card .card__img {
    height: 82%;
  }
  .main-slider .wrapper .carousel .card:nth-child(2n+1) .card__price {
    color: #c5c5c5;
    text-decoration: line-through;
  }
  .main-slider .slider-btn {
    color: #000;
  }
  .main-slider .btn-right {
    right: 30px;
    z-index: 5;
  }
  .main-slider .btn-left {
    left: 27px;
    z-index: 5;
  }
  .main-slider .wrapper:before,
  .main-slider .wrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    bottom: 0;
    width: 100px;
    box-shadow: 1px 39px 50px #fff;
    background: rgba(255,255,255,0.62);
    z-index: 3;
  }
  .main-slider .wrapper:before {
    right: 0;
  }
  .main-slider .wrapper:after {
    left: 0;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .slider .slide {
    height: 195px;
  }
  .slider .slide__description {
    left: 17px;
  }
  .slider .slide__description .description__title {
    font-size: 1rem;
    width: 140px;
  }
  .slider .slide__description .description__sub-title {
    font-size: 0.8rem;
  }
  .slider .slide__description .btn__confira {
    width: 86px;
    font-size: 1rem;
    margin-top: 20px;
  }
  .slider .dots {
    bottom: 15px;
  }
  .slider .dots .dot {
    margin: 0 3px;
    border: 1px solid #c5c5c5;
  }
  .main-slider {
    padding: 0;
  }
  .main-slider .wrapper {
    height: 335px;
    overflow: visible;
  }
  .main-slider .wrapper .carousel {
    width: auto;
    left: 70%;
    transform: translateX(-50%);
  }
  .main-slider .wrapper .carousel .card {
    width: 155px;
    position: relative;
  }
  .main-slider .wrapper .carousel .card .sale {
    display: flex;
    position: absolute;
    left: -6px;
    top: -21px;
  }
  .main-slider .wrapper .carousel .card .new__price {
    display: flex;
    font-size: 1.2rem;
  }
  .main-slider .wrapper .carousel .card .card__img {
    height: 82%;
  }
  .main-slider .wrapper .carousel .card:nth-child(2n+1) .card__price {
    color: #c5c5c5;
    text-decoration: line-through;
  }
  .main-slider .slider-btn {
    display: none;
  }
  .main-slider .wrapper:before,
  .main-slider .wrapper:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    box-shadow: 1px 39px 50px #fff;
    background: rgba(255,255,255,0.62);
    z-index: 3;
  }
  .main-slider .wrapper:before {
    right: 0;
    width: 100px;
  }
  .main-slider .wrapper:after {
    left: 0;
    width: 115px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .main-slider .wrapper:before {
    width: 111px;
  }
  .main-slider .wrapper:after {
    width: 85px;
  }
}
@media (max-width: 320px) {
  .slider .slide__description {
    left: 4px;
  }
  .slider .slide__description .description__title {
    width: 112px;
  }
  .slider .slide__description .btn__confira {
    width: 72px;
    font-size: 0.8rem;
  }
  .main-slider .wrapper:before,
  .main-slider .wrapper:after {
    top: -22px;
  }
  .main-slider .wrapper .carousel {
    left: 77%;
  }
}
.mobile-header {
  display: none;
}
header {
  background-color: #000;
  height: 50px;
}
header .header__content {
  width: 100%;
  padding: 0 185px;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
}
header .header__content .burger-menu {
  flex-direction: column;
  cursor: pointer;
}
header .header__content .burger-menu .bar1,
header .header__content .burger-menu .bar2,
header .header__content .burger-menu .bar3 {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin-bottom: 5px;
  transition: 0.4s;
}
header .header__content .logo {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
}
header .header__content .header__text {
  color: #fff;
  font-size: 1.6rem;
  margin-right: 20px;
}
header .header__content .header__text:hover {
  text-decoration: underline;
}
header .header__content .cart {
  position: relative;
}
header .header__content .cart .count-order {
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  position: absolute;
  right: 20px;
  border: 1px solid #000;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  header .header__content {
    padding: 0 100px;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  header .header__content {
    padding: 0 15px;
  }
  header .header__content .burger-menu .bar1,
  header .header__content .burger-menu .bar2,
  header .header__content .burger-menu .bar3 {
    height: 3px;
  }
  header .header__text {
    font-size: 1.3rem;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  header .header__content .logo {
    font-size: 1.3rem;
  }
}
.marker {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
}
.marker__text {
  color: #000;
  font-size: 1.5rem;
  padding: 0 20px;
}
.marker .marker__arrow {
  width: 100px;
  height: 15px;
}
.separator {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .separator {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .marker__text {
    font-size: 1.25rem;
  }
  .marker .marker__arrow {
    width: 65px;
  }
  .separator {
    margin-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .marker {
    padding: 40px 15px 40px;
  }
  .marker__text {
    font-size: 1.2rem;
  }
  .marker .marker__arrow {
    width: 60px;
  }
  .separator {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .marker__text {
    font-size: 1rem;
  }
  .marker .marker__arrow {
    height: 12px;
  }
}
@media (max-width: 320px) {
  .marker__text {
    font-size: 0.9rem;
    padding: 0 10px;
  }
}
.gallery {
  width: 100%;
  padding: 0 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 440px;
  margin-bottom: 20px;
}
.gallery__row .gallery__block {
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.gallery__row .gallery__block .gallery__img {
  object-fit: cover;
  -o-object-fit: cover;
  height: 100%;
  width: 100%;
  transform: scale(1.5);
}
.gallery__row .gallery__block .gallery__img:hover {
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  -ms-filter: brightness(50%);
  -moz-filter: brightness(50%);
  -o-filter: brightness(50%);
}
.gallery__row .gallery__block .block__text {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-shadow: 1px 3px 0 #000;
}
.gallery__row .--first-block,
.gallery__row .--second-block {
  width: 49%;
}
.gallery__row .--third-block,
.gallery__row .--seven-block {
  width: 64%;
}
.gallery__row .--four-block,
.gallery__row .--six-block {
  width: 34%;
}
.gallery__row .--second-block .gallery__img,
.gallery__row .--four-block .gallery__img {
  object-position: 100%;
}
.gallery__row .--six-block .gallery__img {
  object-position: 10% 20%;
}
.gallery__row .--seven-block .gallery__img {
  object-position: 10% 20%;
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .gallery {
    padding: 0 100px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    padding: 0 15px;
  }
  .gallery__row {
    height: 225px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .gallery {
    padding: 0 15px;
  }
  .gallery__row {
    flex-direction: column;
    height: auto;
    margin-bottom: 0;
  }
  .gallery__row .gallery__block {
    width: 100%;
    margin-bottom: 20px;
  }
  .gallery__row .--first-block,
  .gallery__row .--second-block {
    height: 220px;
  }
  .gallery__row .--third-block {
    height: 170px;
  }
  .gallery__row .--four-block,
  .gallery__row .--six-block {
    height: 300px;
  }
  .gallery__row .--seven-block {
    height: 180px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .gallery__row .gallery__block .block__text {
    width: 100%;
    text-align: center;
  }
}
.instagram-gallery {
  padding: 0 185px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.instagram-gallery .wrapper-all {
  justify-content: space-between;
  width: 100%;
}
.instagram-gallery .wrapper-all .wrapper {
  width: 225px;
  height: 225px;
  position: relative;
  cursor: pointer;
}
.instagram-gallery .wrapper-all .wrapper .block .cover {
  width: 100%;
  height: 100%;
}
.instagram-gallery .wrapper-all .wrapper .block .block-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instagram-gallery .wrapper-all .wrapper .block .block-bg .img-like {
  margin-bottom: 20px;
}
.instagram-gallery .wrapper-all .wrapper .block .block-bg .count-likes {
  color: #fff;
}
.instagram-gallery .wrapper-all .wrapper .block:hover .cover {
  opacity: 0.3;
  transition: all 1s;
}
.instagram-gallery .wrapper-all .wrapper .block:hover .img-like {
  transition: all 2s;
}
.instagram-gallery .wrapper-all .wrapper:hover .block-bg {
  display: flex;
}
.instagram-gallery .wrapper-all .wrapper:hover .block {
  background-color: rgba(0,0,0,0.8);
  transition: all 1s;
}
.instagram-gallery .wrapper-all .bottom-row {
  width: 280px;
  height: 280px;
}
@media (min-width: 1366px) and (max-width: 1599px) {
  .instagram-gallery .wrapper-all .wrapper {
    width: 180px;
    height: 180px;
  }
  .instagram-gallery .wrapper-all .bottom-row {
    width: 225px;
    height: 225px;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .instagram-gallery {
    padding: 0 100px;
  }
  .instagram-gallery .wrapper-all .wrapper {
    width: 155px;
    height: 155px;
  }
  .instagram-gallery .wrapper-all .bottom-row {
    width: 195px;
    height: 195px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .instagram-gallery {
    padding: 0 15px;
  }
  .instagram-gallery .wrapper-all .wrapper {
    width: 140px;
    height: 140px;
  }
  .instagram-gallery .wrapper-all .bottom-row {
    width: 170px;
    height: 170px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .instagram-gallery {
    padding: 0;
    position: relative;
  }
  .instagram-gallery .wrapper-all {
    width: auto;
  }
  .instagram-gallery .wrapper-all:before,
  .instagram-gallery .wrapper-all:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 135px;
    background: rgba(255,255,255,0.62);
    z-index: 3;
  }
  .instagram-gallery .wrapper-all:before {
    right: 0;
  }
  .instagram-gallery .wrapper-all:after {
    left: 0;
  }
  .instagram-gallery .wrapper-all .wrapper {
    width: 135px;
    height: 135px;
    margin-right: 20px;
  }
  .instagram-gallery .wrapper-all .bottom-row {
    width: 170px;
    height: 170px;
  }
  .quem-usa .wrapper-all .wrapper:last-child {
    display: none;
  }
  .quem-usa .wrapper-all:before,
  .quem-usa .wrapper-all:after {
    width: 117px;
  }
}
@media (min-width: 320px) and (max-width: 375px) {
  .instagram-gallery .wrapper-all:before,
  .instagram-gallery .wrapper-all:after {
    width: 111px;
  }
  .quem-usa .wrapper-all:before,
  .quem-usa .wrapper-all:after {
    width: 92px;
  }
}
@media (max-width: 320px) {
  .instagram-gallery .wrapper-all:before,
  .instagram-gallery .wrapper-all:after {
    width: 83px;
  }
  .quem-usa .wrapper-all:before,
  .quem-usa .wrapper-all:after {
    width: 65px;
  }
}
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 185px;
}
.buttons .news-letters {
  width: 200px;
  height: 30px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  position: relative;
}
.buttons .news-letters::after {
  content: '';
  position: absolute;
  right: -27px;
  top: 0px;
  border: 15px solid transparent;
  border-left: 12px solid #000;
}
.buttons .simple-btn {
  width: 300px;
  height: 30px;
  background: rgba(255,255,255,0);
  border: 2px solid #c5c5c5;
  text-transform: uppercase;
}
.buttons .codastrar {
  width: 200px;
  height: 30px;
  background: #c5c5c5;
  border: none;
  text-transform: uppercase;
  box-shadow: 3px 4px #666;
}
@media (min-width: 1366px) and (max-width: 1599px) {
  .buttons .news-letters {
    width: 140px;
  }
  .buttons .simple-btn {
    width: 300px;
  }
  .buttons .codastrar {
    width: 140px;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  .buttons {
    padding: 40px 100px;
  }
  .buttons .news-letters {
    width: 145px;
  }
  .buttons .simple-btn {
    width: 230px;
  }
  .buttons .codastrar {
    width: 140px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .buttons {
    padding: 40px 15px;
  }
  .buttons .news-letters {
    width: 125px;
  }
  .buttons .simple-btn {
    width: 210px;
  }
  .buttons .codastrar {
    width: 130px;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 15px;
  }
  .buttons .news-letters,
  .buttons .simple-btn,
  .buttons .codastrar {
    width: 100%;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 10px;
  }
  .buttons .news-letters::after,
  .buttons .simple-btn::after,
  .buttons .codastrar::after {
    display: none;
  }
}
@media (max-width: 320px) {
  .buttons .news-letters,
  .buttons .simple-btn,
  .buttons .codastrar {
    font-size: 1.4rem;
  }
}
.mobile-footer {
  display: none;
}
footer {
  height: 40px;
  width: 100%;
  background-color: #000;
}
footer .footer-navigations {
  padding: 0 185px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
footer .footer-navigations .footer-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
footer .footer-navigations .footer-links .footer-link {
  color: #fff;
}
footer .footer-navigations .footer-links .footer-link:hover {
  text-decoration: underline;
}
footer .footer-navigations .footer-icons {
  width: 10%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1366px) and (max-width: 1599px) {
  footer .footer-navigations .footer-links {
    width: 53%;
  }
}
@media (min-width: 1024px) and (max-width: 1365px) {
  footer .footer-navigations {
    padding: 0 100px;
  }
  footer .footer-navigations .footer-links {
    width: 63%;
  }
  footer .footer-navigations .footer-icons {
    width: 12%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  footer .footer-navigations {
    padding: 0 15px;
  }
  footer .footer-navigations .footer-links {
    width: 67%;
  }
  footer .footer-navigations .footer-icons {
    width: 12%;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .desktop-footer {
    display: none;
  }
  .mobile-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #c5c5c5;
  }
  .mobile-footer .footer-logo {
    width: 90px;
  }
}
.bold {
  font-weight: bold;
}
.container {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
}
.cbalink {
  display: none;
}
