 .marker
   width 100%
   text-align center
   display flex
   justify-content center
   align-items center
   padding 40px 0 40px 0

   &__text
     color $black-color
     font-size 1.5rem
     padding 0 20px

   .marker__arrow
     width 100px
     height 15px

.separator
  width 100%
  text-align center
  margin-bottom 80px

@media (min-width: 1024px) and (max-width: 1365px)
   .separator
     margin-bottom 40px

@media (min-width: 768px) and (max-width: 1023px)
  .marker
    &__text
      font-size 1.25rem

    .marker__arrow
      width 65px

  .separator
     margin-bottom 40px

@media (max-width: 425px)
  .marker
    padding 40px 15px 40px

    &__text
      font-size 1.2rem

    .marker__arrow
      width 60px

  .separator
    margin-top 20px
    margin-bottom 40px

@media (min-width: 320px) and (max-width: 375px)
  .marker
    &__text
      font-size 1rem

    .marker__arrow
      height 12px

@media (max-width: 320px)
 .marker
   &__text
     font-size 0.9rem
     padding 0 10px

