$white-color = #ffffff
$black-color = #000000
$gray-color = #c5c5c5
$transparent-color = rgba(255,255,255,0)

$text-shadow-gallery =  1px 3px 0 $black-color;

$box-shadow-middle = 3px 4px #666

$root-font-size = 16px

$max-desktop = 1600px

