$white-color = #ffffff
$black-color = #000000
$gray-color = #c5c5c5
$transparent-color = rgba(255,255,255,0)

$text-shadow-gallery =  1px 3px 0 $black-color;

/*$box-shadow-middle = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
$box-shadow-light = 0 2px 12px 0 rgba(0, 0, 0, 0.1)*/

$root-font-size = 16px

/*$mobile = 375px
$tablet = 768px
$laptop = 1024px*/
$max-desktop = 1600px

